<html>
<body>
<h2>Hello World! this is first "vm" page  $!{foo}</h2 >
    #set($nums=[-2 .. 2])
<table border="1">
    <tr>
        <td>编号</td>
        <td>数值</td>
    </tr>
    #foreach($index in $nums)
       <tr>
           <td>$count</td>
           <td>$index</td>
       </tr>
    #end
</table>

</body>
</html>
